{% apply footnotes_spaceless %}
  {# footnotes/footnote-link.html.twig #}
  <a class="see-footnote" id="{{ fn.ref_id }}" title="{{ fn.text_clean }}" href="#{{ fn.fn_id }}">{{ fn.value|render|trim }}</a>
  <button class="js-open-cite" id="cite-content-{{ fn.ref_id }}">{{ fn.value|render|trim }}</button>
{% endapply %}